.d-flex a {
    text-decoration: none;
    padding: 5px;
    color: black;
}

.image1{
    width: 100%vw;
    height: 100%vh;
}

.text1{
text-align: center;
padding: 15px;
font-size: 100px;
}


